In [1]:
import pandas as pd
import numpy as np

In [2]:
import os, sys

In [3]:
os.listdir()

['.ipynb_checkpoints',
 'Data extraction.ipynb',
 'NESG Data - Various Indicators - Draft 2.xlsx',
 'overall data processing.ipynb',
 'project (1).zip',
 'project.zip']

In [4]:
data = pd.read_excel('NESG Data - Various Indicators - Draft 2.xlsx')

In [5]:
data.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6'],
      dtype='object')

In [6]:
import xlrd

In [9]:
workbook = xlrd.open_workbook('NESG Data - Various Indicators - Draft 2.xlsx')

In [11]:
workbook.sheet_names()

['Table',
 'Sources & Definitions',
 'Sus Eco Growth & Dev- Hierarchy',
 'GDP Growth',
 'GDP Growth - By Sectors',
 'WEF- Inclusive Growth',
 'Output by Sectors - Absolute',
 'Output by Subsector - Absolute',
 'SubSector to Sector Contributn',
 'Sector Contribution to Emplymnt',
 'Unemployment',
 'Underemployment ',
 ' Students to Teachers Ratio',
 'Govt Health Expenditure',
 'Doctors to Hospitals Ratio',
 'Infrastructure',
 'Financial Services',
 'Poverty Level',
 'Life Expectancy',
 'Income Gini',
 'TraderMoni',
 'Fuel Subsidy',
 'Subsidy',
 'Unemployment Benefits',
 'Feeding School Children',
 'UnCond & Cond. Transfers',
 'Govt Scholarship&Free Education',
 'IDP Emergency Funding',
 'WEF - Global Competitiveness',
 'Business Cost of Organsed Crime',
 'Homicide Rate',
 'Terrorism Incidence',
 'Police Service Reliability',
 'Social Capital',
 'Budget Transparency',
 'Judicial Independence',
 'Eff in Challenging Regulations',
 'Freedom of Press',
 'Burden of Govt Regulations',
 'Eff Settling Dispute',
 'E-Participation',
 'Future Orientation of Govt',
 'Incidence of Corruption',
 'Property rights',
 'Intellectual Property Protectio',
 'Quality of Land Admin',
 'Strength ofAudit & Accting Stds',
 'Conflict of Int Regulation',
 'Shareholder Governance',
 'Quality of Road Network',
 'Quality of Road Infrastructure',
 'Rail Density',
 'Efficiency of Train Service',
 'Airport Connectivity',
 'Efficiency of Air Transport Svc',
 'Liner Shipping Connectivity',
 'Efficiency of Seaport Svcs',
 'Electricity Access',
 'Electricity Quality',
 'Exposure to unsafe Drinking Wat',
 'Reliability of Water Supply',
 'Sheet31',
 'Sheet32',
 'Sheet33',
 'Sheet34',
 'Sheet35',
 'Sheet19']

In [12]:
Sectorial_output= workbook.sheet_by_name('Output by Sectors - Absolute')

In [13]:
import xlwt

workbook = xlwt.Workbook()

In [32]:
type(Sectorial_output)

xlrd.sheet.Sheet

In [33]:
sector_output = pd.read_excel('NESG Data - Various Indicators - Draft 2.xlsx', 'Output by Sectors - Absolute')

In [34]:
sector_ouput

,Return to Table,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65
0,(â‚¦' Billion),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2017 2,NaN,NaN,NaN,2018 2,NaN,NaN,NaN
1,Activity Sector,1981.000000,1982.000000,1983.000000,1984.000000,1985.000000,1986.000000,1987.000000,1988.000000,1989.000000,...,Q3,Q4,Q1,Q2,Q3,Q4,Q1,Q2,Q3,Q4
2,Agriculture,2364.373149,2425.960886,2409.081921,2303.505416,2731.062467,2986.835382,2891.672333,3174.567616,3325.947091,...,5035.07,4662.01,3385.6,3745.09,5189.37,4859.44,3487.31,3789.72,5288.34,4978.78
3,Industry,7473.205379,6969.202777,5885.926785,6128.635554,6731.368220,6583.687541,6516.763006,6895.264193,7539.230116,...,3690.49,3639.68,3617.46,3827.76,3976.03,3817.03,3865.66,3842.93,3971.66,3853.26
4,Services,5420.425815,5589.914652,5554.716468,5347.114525,5491.482359,5667.464364,5855.493767,6145.539122,6429.498736,...,8829.88,9911.85,8794.91,8761.87,8594.83,9921.6,8753.76,8947.86,8821.34,10209.4
5,Total Real GDP,15258.004343,14985.078316,13849.725174,13779.255495,14953.913046,15237.987287,15263.929107,16215.370931,17294.675943,...,17555.4,18213.5,15798,16334.7,17760.2,18598.1,16106.7,16580.5,18081.3,19041.4
6,Source: National Bureau of Statistics (NBS),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Note: GDP figures at 2010 constant basic price...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1Revised,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2Provisional,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
agriculture = sector_ouput.iloc[2][:]

In [36]:
agriculture = agriculture.values

In [37]:
agriculture = agriculture[1:]

In [38]:
len(agriculture)

65

In [39]:
sector_ouput = pd.read_excel('NESG Data - Various Indicators - Draft 2.xlsx', 'Output by Sectors - Absolute')

# rephrase

In [52]:
os.listdir()

['.ipynb_checkpoints',
 '11803Official-List-of-Proposed-SDG-Indicators.pdf',
 '2019_macroeconomicOutlook-1.pdf',
 'Data extraction.ipynb',
 'data for agriculture.xlsx',
 'NESG Data - Various Indicators - Draft 2.xlsx',
 'NESG Meeting 2-13th Friday 2019.docx',
 'NESG Meeting.docx',
 'Nigeria SDGs Indicators Baseline Report 2016.pdf',
 'WEF_Forum_IncGrwth_2018.pdf',
 '~$NESG Data - Various Indicators - Draft 2.xlsx',
 '~$SG Meeting 2-13th Friday 2019.docx',
 '~$SG Meeting.docx']

In [87]:
agriculture_data = pd.read_excel('data for agriculture.xlsx')

In [88]:
agriculture_data.head()

,year,AL,PAL,EXP,CREDIT,EXR,GDP,LR,import,export,dummy,Unnamed: 11
0,1981,35642400.0,2.364373e+12,1.302766e+07,5.906000e+08,0.6356,1.525800e+13,10.00,5.518845e+07,1.926002e+07,0,NaN
1,1982,31763900.0,2.425961e+12,1.479982e+07,7.866000e+08,0.6720,1.498508e+13,11.75,1.732018e+08,1.397439e+07,0,NaN
2,1983,36307500.0,2.409082e+12,1.276989e+07,9.404000e+08,0.7486,1.384973e+13,11.50,1.363269e+08,7.018744e+06,0,NaN
3,1984,24654900.0,2.303505e+12,1.566400e+07,1.052100e+09,0.8081,1.377926e+13,13.00,1.527658e+08,3.782960e+06,0,NaN
4,1985,44243600.0,2.731062e+12,2.036494e+07,1.310200e+09,0.9595,1.495391e+13,11.75,1.792209e+08,5.108016e+06,0,NaN

In [92]:
count = 1
for k in agriculture_data['year']:
    if int(k) <= 2009:
        count += 1
    else:
        break
print(count)

30

In [93]:
increasing_gdp = agriculture_data.head(30)

In [ ]:
reducing_gdp = agriculture_data.tail()

In [67]:
agriculture = agriculture_data.drop(['dummy', 'Unnamed: 11'], axis = 1)

In [68]:
agriculture = agriculture.drop('year', axis = 1)

In [69]:
agriculture.head()

,AL,PAL,EXP,CREDIT,EXR,GDP,LR,import,export
0,35642400.0,2.364373e+12,1.302766e+07,5.906000e+08,0.6356,1.525800e+13,10.00,5.518845e+07,1.926002e+07
1,31763900.0,2.425961e+12,1.479982e+07,7.866000e+08,0.6720,1.498508e+13,11.75,1.732018e+08,1.397439e+07
2,36307500.0,2.409082e+12,1.276989e+07,9.404000e+08,0.7486,1.384973e+13,11.50,1.363269e+08,7.018744e+06
3,24654900.0,2.303505e+12,1.566400e+07,1.052100e+09,0.8081,1.377926e+13,13.00,1.527658e+08,3.782960e+06
4,44243600.0,2.731062e+12,2.036494e+07,1.310200e+09,0.9595,1.495391e+13,11.75,1.792209e+08,5.108016e+06

In [70]:
agriculture.describe()

,AL,PAL,EXP,CREDIT,EXR,GDP,LR,import,export
count,3.800000e+01,3.800000e+01,3.800000e+01,3.800000e+01,38.000000,3.800000e+01,38.000000,3.800000e+01,3.800000e+01
mean,3.101257e+09,7.702209e+12,1.655476e+10,2.031028e+11,91.296549,3.372522e+13,21.950526,3.791667e+10,1.355822e+11
std,4.023347e+09,5.172836e+12,2.006041e+10,4.800407e+11,90.761836,1.957810e+13,6.057171,6.535740e+10,3.300088e+11
min,2.465490e+07,2.303505e+12,1.276989e+07,5.906000e+08,0.635600,1.377926e+13,10.000000,5.518845e+07,3.782960e+06
25%,9.940900e+07,3.496247e+12,2.210250e+08,4.419225e+09,8.996575,1.922570e+13,19.272500,4.184045e+08,2.152807e+08
50%,3.017386e+08,4.772307e+12,6.700162e+09,3.714650e+10,102.156650,2.306885e+13,21.445000,7.364954e+09,1.324183e+09
75%,6.335816e+09,1.215909e+13,3.309606e+10,1.338775e+11,146.575275,4.889520e+13,25.477500,4.920874e+10,5.089131e+10
max,1.245625e+10,1.754415e+13,6.539901e+10,2.226680e+12,306.852300,6.981002e+13,36.090000,2.942409e+11,1.326442e+12

In [71]:
agriculture.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 9 columns):
AL        38 non-null float64
PAL       38 non-null float64
EXP       38 non-null float64
CREDIT    38 non-null float64
EXR       38 non-null float64
GDP       38 non-null float64
LR        38 non-null float64
import    38 non-null float64
export    38 non-null float64
dtypes: float64(9)
memory usage: 2.8 KB

In [72]:
from sklearn.preprocessing import MinMaxScaler
min_max= MinMaxScaler()

In [73]:
agric = min_max.fit_transform(agriculture)

In [74]:
frame = pd.DataFrame(agric, columns = agriculture.columns)
frame.head()

,AL,PAL,EXP,CREDIT,EXR,GDP,LR,import,export
0,0.000884,0.003994,0.000004,0.000000,0.000000,0.026392,0.000000,0.000000,1.166813e-05
1,0.000572,0.008035,0.000031,0.000088,0.000119,0.021521,0.067076,0.000401,7.683300e-06
2,0.000937,0.006927,0.000000,0.000157,0.000369,0.001258,0.057493,0.000276,2.439453e-06
3,0.000000,0.000000,0.000044,0.000207,0.000563,0.000000,0.114987,0.000332,0.000000e+00
4,0.001576,0.028054,0.000116,0.000323,0.001058,0.020965,0.067076,0.000422,9.989576e-07

In [75]:
y = frame['GDP']
x = frame.drop('GDP', axis = 1)

In [79]:
from sklearn.model_selection import train_test_split
x_train, x_test,y_train, y_test = train_test_split(x, y, train_size = 0.8, random_state = 42)

In [80]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [82]:
lr.score(x_train, y_train)

0.9938736195723646

In [86]:
pred = lr.predict(x_test)

pred_dict = {'prediction':pred, 'actual':y_test}
fra = pd.DataFrame(pred_dict)
fra

      actual  prediction
33  0.952575    0.864969
36  0.976459    0.970769
4   0.020965    0.028905
13  0.110651    0.099030
30  0.780496    0.885158
26  0.520128    0.529483
6   0.026497    0.043757
27  0.575278    0.599403

# manufacturing analysis

In [125]:
manufacture = pd.read_excel('manufacturing.xlsx')

In [126]:
manufacture.head()

,money supply,credit facility to private(B),Capital Expenditure2,Total government debt,loan to manufacturing,EXR,LR,(c) Manufacturing,Total Real GDP
0,14.471167,8.570050,6.5670,11.1926,0.0,0.6356,10.00,1558.696697,15258.004343
1,15.786742,10.668342,6.4172,15.0076,0.0,0.6720,11.75,1764.893895,14985.078316
2,17.687925,11.668042,4.8857,22.2214,0.0,0.7486,11.50,1167.888869,13849.725174
3,20.105942,12.462933,4.1001,25.6721,0.0,0.8081,13.00,1018.906865,13779.255495
4,22.299242,13.070342,5.4647,27.9491,0.0,0.9595,11.75,1416.787795,14953.913046

In [127]:
manufacture.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 9 columns):
money supply                     37 non-null float64
credit facility to private(B)    37 non-null float64
Capital Expenditure2             37 non-null float64
Total government debt            37 non-null float64
loan to manufacturing            37 non-null float64
EXR                              38 non-null float64
LR                               38 non-null float64
  (c) Manufacturing              38 non-null float64
Total Real GDP                   38 non-null float64
dtypes: float64(9)
memory usage: 2.8 KB

In [130]:
manufacture['Total government debt'].fillna(manufacture['Total government debt'].mean(), inplace= True)

In [132]:
for k in manufacture.columns:
    if manufacture[k].count() != 38:
        manufacture[k].fillna(manufacture[k].mean(), inplace = True)
    else:
        pass

In [133]:
from sklearn.preprocessing import MinMaxScaler
minmax= MinMaxScaler()
scaled = minmax.fit_transform(manufacture)

In [134]:
to_frame = pd.DataFrame(scaled, columns= manufacture.columns)

y = to_frame['Total Real GDP']
x = to_frame.drop('Total Real GDP', axis = 1)

In [135]:
x.head()

,money supply,credit facility to private(B),Capital Expenditure2,Total government debt,loan to manufacturing,EXR,LR,(c) Manufacturing
0,0.000000,0.000000,0.001470,0.000000,0.0,0.000000,0.000000,0.095280
1,0.000052,0.000093,0.001381,0.000299,0.0,0.000119,0.067076,0.131676
2,0.000128,0.000138,0.000468,0.000864,0.0,0.000369,0.057493,0.026297
3,0.000225,0.000173,0.000000,0.001134,0.0,0.000563,0.114987,0.000000
4,0.000312,0.000200,0.000813,0.001313,0.0,0.001058,0.067076,0.070231

In [136]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(x, y)
lr.score(x, y)

0.9827670068678798

In [142]:
from sklearn.metrics import regression

In [140]:
import sklearn as sk
help(sk.metrics.regression)

Help on module sklearn.metrics.regression in sklearn.metrics:

NAME
    sklearn.metrics.regression - Metrics to assess performance on regression task

DESCRIPTION
    Functions named as ``*_score`` return a scalar value to maximize: the higher
    the better

    Function named as ``*_error`` or ``*_loss`` return a scalar value to minimize:
    the lower the better

FUNCTIONS
    explained_variance_score(y_true, y_pred, sample_weight=None, multioutput='uniform_average')
        Explained variance regression score function

        Best possible score is 1.0, lower values are worse.

        Read more in the :ref:`User Guide <explained_variance_score>`.

        Parameters
        ----------
        y_true : array-like of shape = (n_samples) or (n_samples, n_outputs)
            Ground truth (correct) target values.

        y_pred : array-like of shape = (n_samples) or (n_samples, n_outputs)
            Estimated target values.

        sample_weight : array-like of shape = (n_samples), optional
            Sample weights.

        multioutput : string in ['raw_values', 'uniform_average',                 'variance_weighted'] or array-like of shape (n_outputs)
            Defines aggregating of multiple output scores.
            Array-like value defines weights used to average scores.

            'raw_values' :
                Returns a full set of scores in case of multioutput input.

            'uniform_average' :
                Scores of all outputs are averaged with uniform weight.

            'variance_weighted' :
                Scores of all outputs are averaged, weighted by the variances
                of each individual output.

        Returns
        -------
        score : float or ndarray of floats
            The explained variance or ndarray if 'multioutput' is 'raw_values'.

        Notes
        -----
        This is not a symmetric function.

        Examples
        --------
        >>> from sklearn.metrics import explained_variance_score
        >>> y_true = [3, -0.5, 2, 7]
        >>> y_pred = [2.5, 0.0, 2, 8]
        >>> explained_variance_score(y_true, y_pred)  # doctest: +ELLIPSIS
        0.957...
        >>> y_true = [[0.5, 1], [-1, 1], [7, -6]]
        >>> y_pred = [[0, 2], [-1, 2], [8, -5]]
        >>> explained_variance_score(y_true, y_pred, multioutput='uniform_average')
        ... # doctest: +ELLIPSIS
        0.983...

    max_error(y_true, y_pred)
        max_error metric calculates the maximum residual error.

        Read more in the :ref:`User Guide <max_error>`.

        Parameters
        ----------
        y_true : array-like of shape = (n_samples)
            Ground truth (correct) target values.

        y_pred : array-like of shape = (n_samples)
            Estimated target values.

        Returns
        -------
        max_error : float
            A positive floating point value (the best value is 0.0).

        Examples
        --------
        >>> from sklearn.metrics import max_error
        >>> y_true = [3, 2, 7, 1]
        >>> y_pred = [4, 2, 7, 1]
        >>> max_error(y_true, y_pred)
        1

    mean_absolute_error(y_true, y_pred, sample_weight=None, multioutput='uniform_average')
        Mean absolute error regression loss

        Read more in the :ref:`User Guide <mean_absolute_error>`.

        Parameters
        ----------
        y_true : array-like of shape = (n_samples) or (n_samples, n_outputs)
            Ground truth (correct) target values.

        y_pred : array-like of shape = (n_samples) or (n_samples, n_outputs)
            Estimated target values.

        sample_weight : array-like of shape = (n_samples), optional
            Sample weights.

        multioutput : string in ['raw_values', 'uniform_average']
            or array-like of shape (n_outputs)
            Defines aggregating of multiple output values.
            Array-like value defines weights used to average errors.

            'raw_values' :
                Returns a full set of errors in case of multioutput input.

            'uniform_average' :
                Errors of all outputs are averaged with uniform weight.


        Returns
        -------
        loss : float or ndarray of floats
            If multioutput is 'raw_values', then mean absolute error is returned
            for each output separately.
            If multioutput is 'uniform_average' or an ndarray of weights, then the
            weighted average of all output errors is returned.

            MAE output is non-negative floating point. The best value is 0.0.

        Examples
        --------
        >>> from sklearn.metrics import mean_absolute_error
        >>> y_true = [3, -0.5, 2, 7]
        >>> y_pred = [2.5, 0.0, 2, 8]
        >>> mean_absolute_error(y_true, y_pred)
        0.5
        >>> y_true = [[0.5, 1], [-1, 1], [7, -6]]
        >>> y_pred = [[0, 2], [-1, 2], [8, -5]]
        >>> mean_absolute_error(y_true, y_pred)
        0.75
        >>> mean_absolute_error(y_true, y_pred, multioutput='raw_values')
        array([0.5, 1. ])
        >>> mean_absolute_error(y_true, y_pred, multioutput=[0.3, 0.7])
        ... # doctest: +ELLIPSIS
        0.85...

    mean_squared_error(y_true, y_pred, sample_weight=None, multioutput='uniform_average')
        Mean squared error regression loss

        Read more in the :ref:`User Guide <mean_squared_error>`.

        Parameters
        ----------
        y_true : array-like of shape = (n_samples) or (n_samples, n_outputs)
            Ground truth (correct) target values.

        y_pred : array-like of shape = (n_samples) or (n_samples, n_outputs)
            Estimated target values.

        sample_weight : array-like of shape = (n_samples), optional
            Sample weights.

        multioutput : string in ['raw_values', 'uniform_average']
            or array-like of shape (n_outputs)
            Defines aggregating of multiple output values.
            Array-like value defines weights used to average errors.

            'raw_values' :
                Returns a full set of errors in case of multioutput input.

            'uniform_average' :
                Errors of all outputs are averaged with uniform weight.

        Returns
        -------
        loss : float or ndarray of floats
            A non-negative floating point value (the best value is 0.0), or an
            array of floating point values, one for each individual target.

        Examples
        --------
        >>> from sklearn.metrics import mean_squared_error
        >>> y_true = [3, -0.5, 2, 7]
        >>> y_pred = [2.5, 0.0, 2, 8]
        >>> mean_squared_error(y_true, y_pred)
        0.375
        >>> y_true = [[0.5, 1],[-1, 1],[7, -6]]
        >>> y_pred = [[0, 2],[-1, 2],[8, -5]]
        >>> mean_squared_error(y_true, y_pred)  # doctest: +ELLIPSIS
        0.708...
        >>> mean_squared_error(y_true, y_pred, multioutput='raw_values')
        ... # doctest: +ELLIPSIS
        array([0.41666667, 1.        ])
        >>> mean_squared_error(y_true, y_pred, multioutput=[0.3, 0.7])
        ... # doctest: +ELLIPSIS
        0.825...

    mean_squared_log_error(y_true, y_pred, sample_weight=None, multioutput='uniform_average')
        Mean squared logarithmic error regression loss

        Read more in the :ref:`User Guide <mean_squared_log_error>`.

        Parameters
        ----------
        y_true : array-like of shape = (n_samples) or (n_samples, n_outputs)
            Ground truth (correct) target values.

        y_pred : array-like of shape = (n_samples) or (n_samples, n_outputs)
            Estimated target values.

        sample_weight : array-like of shape = (n_samples), optional
            Sample weights.

        multioutput : string in ['raw_values', 'uniform_average']             or array-like of shape = (n_outputs)

            Defines aggregating of multiple output values.
            Array-like value defines weights used to average errors.

            'raw_values' :
                Returns a full set of errors when the input is of multioutput
                format.

            'uniform_average' :
                Errors of all outputs are averaged with uniform weight.

        Returns
        -------
        loss : float or ndarray of floats
            A non-negative floating point value (the best value is 0.0), or an
            array of floating point values, one for each individual target.

        Examples
        --------
        >>> from sklearn.metrics import mean_squared_log_error
        >>> y_true = [3, 5, 2.5, 7]
        >>> y_pred = [2.5, 5, 4, 8]
        >>> mean_squared_log_error(y_true, y_pred)  # doctest: +ELLIPSIS
        0.039...
        >>> y_true = [[0.5, 1], [1, 2], [7, 6]]
        >>> y_pred = [[0.5, 2], [1, 2.5], [8, 8]]
        >>> mean_squared_log_error(y_true, y_pred)  # doctest: +ELLIPSIS
        0.044...
        >>> mean_squared_log_error(y_true, y_pred, multioutput='raw_values')
        ... # doctest: +ELLIPSIS
        array([0.00462428, 0.08377444])
        >>> mean_squared_log_error(y_true, y_pred, multioutput=[0.3, 0.7])
        ... # doctest: +ELLIPSIS
        0.060...

    median_absolute_error(y_true, y_pred)
        Median absolute error regression loss

        Read more in the :ref:`User Guide <median_absolute_error>`.

        Parameters
        ----------
        y_true : array-like of shape = (n_samples)
            Ground truth (correct) target values.

        y_pred : array-like of shape = (n_samples)
            Estimated target values.

        Returns
        -------
        loss : float
            A positive floating point value (the best value is 0.0).

        Examples
        --------
        >>> from sklearn.metrics import median_absolute_error
        >>> y_true = [3, -0.5, 2, 7]
        >>> y_pred = [2.5, 0.0, 2, 8]
        >>> median_absolute_error(y_true, y_pred)
        0.5

    r2_score(y_true, y_pred, sample_weight=None, multioutput='uniform_average')
        R^2 (coefficient of determination) regression score function.

        Best possible score is 1.0 and it can be negative (because the
        model can be arbitrarily worse). A constant model that always
        predicts the expected value of y, disregarding the input features,
        would get a R^2 score of 0.0.

        Read more in the :ref:`User Guide <r2_score>`.

        Parameters
        ----------
        y_true : array-like of shape = (n_samples) or (n_samples, n_outputs)
            Ground truth (correct) target values.

        y_pred : array-like of shape = (n_samples) or (n_samples, n_outputs)
            Estimated target values.

        sample_weight : array-like of shape = (n_samples), optional
            Sample weights.

        multioutput : string in ['raw_values', 'uniform_average', 'variance_weighted'] or None or array-like of shape (n_outputs)

            Defines aggregating of multiple output scores.
            Array-like value defines weights used to average scores.
            Default is "uniform_average".

            'raw_values' :
                Returns a full set of scores in case of multioutput input.

            'uniform_average' :
                Scores of all outputs are averaged with uniform weight.

            'variance_weighted' :
                Scores of all outputs are averaged, weighted by the variances
                of each individual output.

            .. versionchanged:: 0.19
                Default value of multioutput is 'uniform_average'.

        Returns
        -------
        z : float or ndarray of floats
            The R^2 score or ndarray of scores if 'multioutput' is
            'raw_values'.

        Notes
        -----
        This is not a symmetric function.

        Unlike most other scores, R^2 score may be negative (it need not actually
        be the square of a quantity R).

        This metric is not well-defined for single samples and will return a NaN
        value if n_samples is less than two.

        References
        ----------
        .. [1] `Wikipedia entry on the Coefficient of determination
                <https://en.wikipedia.org/wiki/Coefficient_of_determination>`_

        Examples
        --------
        >>> from sklearn.metrics import r2_score
        >>> y_true = [3, -0.5, 2, 7]
        >>> y_pred = [2.5, 0.0, 2, 8]
        >>> r2_score(y_true, y_pred)  # doctest: +ELLIPSIS
        0.948...
        >>> y_true = [[0.5, 1], [-1, 1], [7, -6]]
        >>> y_pred = [[0, 2], [-1, 2], [8, -5]]
        >>> r2_score(y_true, y_pred,
        ...          multioutput='variance_weighted') # doctest: +ELLIPSIS
        0.938...
        >>> y_true = [1, 2, 3]
        >>> y_pred = [1, 2, 3]
        >>> r2_score(y_true, y_pred)
        1.0
        >>> y_true = [1, 2, 3]
        >>> y_pred = [2, 2, 2]
        >>> r2_score(y_true, y_pred)
        0.0
        >>> y_true = [1, 2, 3]
        >>> y_pred = [3, 2, 1]
        >>> r2_score(y_true, y_pred)
        -3.0

DATA
    __ALL__ = ['max_error', 'mean_absolute_error', 'mean_squared_error', '...

FILE
    c:\users\user\appdata\roaming\python\python36\site-packages\sklearn\metrics\regression.py